In [2]:
# Import libraries
import warnings
import pandas as pd

warnings.filterwarnings('ignore')

In [6]:
# File paths
weather_2019 = "path_flat_file_/weather_daily_2019_24.csv"
bike_trips_2019 = "path_flat_file_/bike_usage_2019.csv"
working_calendar_2019 = "path_flat_file_/Working_Calendar_FY2019.csv"
md_bike_stations = "path_flat_file_/md_bike_station_2019.csv"
full_dataset_path = "path_flat_file_/full_dataset_2019.csv"

In [7]:
# Load preprocess datasets
bike_trips = pd.read_csv(bike_trips_2019, header = 0, sep = ';')
md_bike_station_df = pd.read_csv(md_bike_stations , header = 0, sep = ';')
weather_2019 = pd.read_csv(weather_2019, header = 0, sep = ';')
calendar = pd.read_csv(working_calendar_2019, header = 0, sep = ';')

In [8]:
bike_trips.shape

(2035397, 18)

In [35]:
display(bike_trips.head())

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,temp_unplug_hourTime,year,month,day,hour,travel_time_min,travel_revenue
0,5c4b07ea2f38432e007daaba,a18550d468153bb8e1808d4f0a85955579951832772996...,10,1,1,415,133,5,36,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,6.916667,0.5
1,5c4b07ea2f38432e007daabd,5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,18,1,6,417,105,3,155,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,6.950000,0.5
2,5c4b07ea2f38432e007daabe,ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,4,1,12,448,51,4,44,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,7.466667,0.5
3,5c4b07ea2f38432e007daac2,b70eb1a71e53c6351b4835f618a459886e2045a44635e4...,17,1,11,468,100,5,171,2019-01-01T00:00:00.000+0100,28028,2019-01-01 00:00:00+01:00,2019,1,1,0,7.800000,0.5
4,5c4b07ea2f38432e007daac4,1ad9b018315170d824bb396889046eaeff8ce0a0be46b3...,13,1,2,149,67,4,65,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,2.483333,0.5

In [36]:
display(md_bike_station_df.head())

,id,number,name,address,latitude,longitude,_id,total_bases,idunplug_station,unplug_station_tot_bases,idunplug_latitude,idunplug_longitude,idplug_station,plug_station_tot_bases,idplug_latitude,idplug_longitude
0,1,1a,Puerta del Sol A,Puerta del Sol nº 1,40.416896,-3.702425,2019-01-01T00:50:23.009468,24,1,24,40.416896,-3.702425,1,24,40.416896,-3.702425
1,2,1b,Puerta del Sol B,Puerta del Sol nº 1,40.417001,-3.702421,2019-01-01T00:50:23.009468,24,2,24,40.417001,-3.702421,2,24,40.417001,-3.702421
2,3,2,Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842,2019-01-01T00:50:23.009468,24,3,24,40.420589,-3.705842,3,24,40.420589,-3.705842
3,4,3,Plaza Conde Suchil,Plaza del Conde Suchil nº 2-4,40.430294,-3.706917,2019-01-01T00:50:23.009468,18,4,18,40.430294,-3.706917,4,18,40.430294,-3.706917
4,5,4,Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587,2019-01-01T00:50:23.009468,24,5,24,40.428552,-3.702587,5,24,40.428552,-3.702587

In [37]:
display(weather_2019.head())

,PROVINCIA,MUNICIPIO,ESTACION,ANO,MES,DAY,80,81,82,83,86,87,88,89
0,28,79,24,2019,1,1,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0
1,28,79,24,2019,1,2,6.0,0.66,331.0,4.0,69.0,955.0,99.0,0.0
2,28,79,24,2019,1,3,6.0,0.71,115.0,4.4,63.0,954.0,103.0,0.0
3,28,79,24,2019,1,4,5.0,0.68,54.0,3.7,69.0,956.0,102.0,0.0
4,28,79,24,2019,1,5,6.0,0.83,223.0,3.0,71.0,959.0,107.0,0.0

In [38]:
display(calendar.head())

,date,week_day,WorkingDay_Holiday_Sunday,holiday_type,holiday_desc,year,month,day,day_of_week
0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,2019,1,1,1
1,2019-01-02,wednesday,workingday,workingday,workingday,2019,1,2,2
2,2019-01-03,thursday,workingday,workingday,workingday,2019,1,3,3
3,2019-01-04,friday,workingday,workingday,workingday,2019,1,4,4
4,2019-01-05,saturday,weekend,weekend,weekend,2019,1,5,5

## Changes to Bike trips dataset

In [39]:
# Adding station weather id 24 Casa de Campo to bike_trips
bike_trips['id_weather'] = 24

bike_trips.dtypes

_id                      object
user_day_code            object
idplug_base               int64
user_type                 int64
idunplug_base             int64
travel_time               int64
idunplug_station          int64
ageRange                  int64
idplug_station            int64
unplug_hourTime          object
zip_code                 object
temp_unplug_hourTime     object
year                      int64
month                     int64
day                       int64
hour                      int64
travel_time_min         float64
travel_revenue          float64
id_weather                int64
dtype: object

## Changes weather dataset

In [40]:
# Remove columns
weather_2019 = weather_2019.drop(columns=['PROVINCIA', 'MUNICIPIO'])

# Rename columns
weather_2019.rename(columns={'ESTACION': 'id_weather','ANO': 'year', 'MES': 'month', 'DAY': 'day'}, inplace=True)
display(weather_2019.head())

,id_weather,year,month,day,80,81,82,83,86,87,88,89
0,24,2019,1,1,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0
1,24,2019,1,2,6.0,0.66,331.0,4.0,69.0,955.0,99.0,0.0
2,24,2019,1,3,6.0,0.71,115.0,4.4,63.0,954.0,103.0,0.0
3,24,2019,1,4,5.0,0.68,54.0,3.7,69.0,956.0,102.0,0.0
4,24,2019,1,5,6.0,0.83,223.0,3.0,71.0,959.0,107.0,0.0

In [41]:
# Data manually input as disclose in 'load_weather_2019.ipynb'
weather_2019[(weather_2019['month']==11) & (weather_2019['day']>=14)]

,id_weather,year,month,day,80,81,82,83,86,87,88,89
317,24,2019,11,14,NaN,1.44,233.0,8.5,67.0,933.0,114.0,0.7
318,24,2019,11,15,NaN,1.25,278.0,7.2,59.0,934.0,8.0,0.0
319,24,2019,11,16,NaN,0.97,262.0,7.1,57.0,942.0,14.0,0.0
320,24,2019,11,17,NaN,1.13,205.0,6.5,74.0,942.0,2.0,0.6
321,24,2019,11,18,NaN,0.86,70.0,7.5,66.0,943.0,11.0,0.0
322,24,2019,11,19,NaN,0.73,223.0,5.9,71.0,946.0,6.0,0.4
323,24,2019,11,20,NaN,0.66,67.0,6.2,89.0,940.0,51.0,1.0
324,24,2019,11,21,NaN,0.80,205.0,6.8,95.0,933.0,42.0,0.2
325,24,2019,11,22,NaN,2.94,205.0,8.6,98.0,924.0,29.0,4.7
326,24,2019,11,23,NaN,3.03,267.0,8.7,64.0,927.0,82.0,0.7
327,24,2019,11,24,NaN,2.44,223.0,8.6,67.0,939.0,95.0,0.0
328,24,2019,11,25,NaN,2.93,213.0,11.0,91.0,939.0,98.0,0.0
329,24,2019,11,26,NaN,2.45,213.0,11.2,96.0,938.0,24.0,1.4
330,24,2019,11,27,NaN,3.42,223.0,10.6,87.0,937.0,104.0,0.0
331,24,2019,11,28,NaN,3.03,213.0,9.6,93.0,941.0,48.0,0.0
332,24,2019,11,29,NaN,2.43,223.0,12.3,94.0,944.0,52.0,0.3
333,24,2019,11,30,NaN,2.78,205.0,11.7,91.0,943.0,48.0,5.6

## Changes Calendar dataset

In [42]:
calendar.dtypes

date                         object
week_day                     object
WorkingDay_Holiday_Sunday    object
holiday_type                 object
holiday_desc                 object
year                          int64
month                         int64
day                           int64
day_of_week                   int64
dtype: object

## Merging bike_trips + weather dataset

In [43]:
bike_trips_weather = pd.merge(bike_trips, weather_2019, on=["id_weather","year","month","day"])
print(bike_trips.shape)
print(bike_trips_weather.shape)

(2035397, 19)
(2035397, 27)

## Merging bike_trips_weather + calendar dataset

In [44]:
pd.set_option('display.max_columns', None)
print(bike_trips_weather.shape)
full_dataset = pd.merge(bike_trips_weather, calendar, on=["year","month","day"])
print(full_dataset.shape)
display(full_dataset.head())

(2035397, 27)
(2035397, 33)

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,temp_unplug_hourTime,year,month,day,hour,travel_time_min,travel_revenue,id_weather,80,81,82,83,86,87,88,89,date,week_day,WorkingDay_Holiday_Sunday,holiday_type,holiday_desc,day_of_week
0,5c4b07ea2f38432e007daaba,a18550d468153bb8e1808d4f0a85955579951832772996...,10,1,1,415,133,5,36,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,6.916667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
1,5c4b07ea2f38432e007daabd,5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,18,1,6,417,105,3,155,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,6.950000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
2,5c4b07ea2f38432e007daabe,ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,4,1,12,448,51,4,44,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,7.466667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
3,5c4b07ea2f38432e007daac2,b70eb1a71e53c6351b4835f618a459886e2045a44635e4...,17,1,11,468,100,5,171,2019-01-01T00:00:00.000+0100,28028,2019-01-01 00:00:00+01:00,2019,1,1,0,7.800000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
4,5c4b07ea2f38432e007daac4,1ad9b018315170d824bb396889046eaeff8ce0a0be46b3...,13,1,2,149,67,4,65,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,2.483333,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1

In [45]:
full_dataset.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,temp_unplug_hourTime,year,month,day,hour,travel_time_min,travel_revenue,id_weather,80,81,82,83,86,87,88,89,date,week_day,WorkingDay_Holiday_Sunday,holiday_type,holiday_desc,day_of_week
0,5c4b07ea2f38432e007daaba,a18550d468153bb8e1808d4f0a85955579951832772996...,10,1,1,415,133,5,36,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,6.916667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
1,5c4b07ea2f38432e007daabd,5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,18,1,6,417,105,3,155,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,6.950000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
2,5c4b07ea2f38432e007daabe,ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,4,1,12,448,51,4,44,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,7.466667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
3,5c4b07ea2f38432e007daac2,b70eb1a71e53c6351b4835f618a459886e2045a44635e4...,17,1,11,468,100,5,171,2019-01-01T00:00:00.000+0100,28028,2019-01-01 00:00:00+01:00,2019,1,1,0,7.800000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1
4,5c4b07ea2f38432e007daac4,1ad9b018315170d824bb396889046eaeff8ce0a0be46b3...,13,1,2,149,67,4,65,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,2.483333,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1

## Merging Full dataset + Master Data Bike Station

In [46]:
# Selecting relevant subset 'unplug_station_tot_bases' 'idunplug_latitude' and 'idunplug_longitude' columns from md_bike_stations dataframe
md_bike_unplug_stations_subset = md_bike_station_df[['idunplug_station', 'unplug_station_tot_bases', 'idunplug_latitude', 'idunplug_longitude']]

# Merge the dataframes based on 'idunplug_station' column
merged_df = pd.merge(full_dataset, md_bike_unplug_stations_subset, on='idunplug_station', how='left')

display(merged_df.head())
print(f"Merged DF shape: {merged_df.shape}")


# Selecting relevant subset 'plug_station_tot_bases' 'idplug_latitude' and 'idplug_longitude' columns from md_bike_stations dataframe
md_bike_plug_stations_subset = md_bike_station_df[['idplug_station', 'plug_station_tot_bases', 'idplug_latitude', 'idplug_longitude']]

# Merge the dataframes based on 'idplug_station' column
full_dataset_df = pd.merge(merged_df, md_bike_plug_stations_subset, on='idplug_station', how='left')

print(f"Final Full Dataset shape: {full_dataset_df.shape}")
display(full_dataset_df.head())

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,temp_unplug_hourTime,year,month,day,hour,travel_time_min,travel_revenue,id_weather,80,81,82,83,86,87,88,89,date,week_day,WorkingDay_Holiday_Sunday,holiday_type,holiday_desc,day_of_week,unplug_station_tot_bases,idunplug_latitude,idunplug_longitude
0,5c4b07ea2f38432e007daaba,a18550d468153bb8e1808d4f0a85955579951832772996...,10,1,1,415,133,5,36,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,6.916667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.403408,-3.710811
1,5c4b07ea2f38432e007daabd,5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,18,1,6,417,105,3,155,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,6.950000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.424846,-3.673863
2,5c4b07ea2f38432e007daabe,ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,4,1,12,448,51,4,44,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,7.466667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.404785,-3.702827
3,5c4b07ea2f38432e007daac2,b70eb1a71e53c6351b4835f618a459886e2045a44635e4...,17,1,11,468,100,5,171,2019-01-01T00:00:00.000+0100,28028,2019-01-01 00:00:00+01:00,2019,1,1,0,7.800000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.422658,-3.687055
4,5c4b07ea2f38432e007daac4,1ad9b018315170d824bb396889046eaeff8ce0a0be46b3...,13,1,2,149,67,4,65,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,2.483333,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.417924,-3.670896

Merged DF shape: (2035397, 36)
Final Full Dataset shape: (2035397, 39)

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,temp_unplug_hourTime,year,month,day,hour,travel_time_min,travel_revenue,id_weather,80,81,82,83,86,87,88,89,date,week_day,WorkingDay_Holiday_Sunday,holiday_type,holiday_desc,day_of_week,unplug_station_tot_bases,idunplug_latitude,idunplug_longitude,plug_station_tot_bases,idplug_latitude,idplug_longitude
0,5c4b07ea2f38432e007daaba,a18550d468153bb8e1808d4f0a85955579951832772996...,10,1,1,415,133,5,36,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,6.916667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.403408,-3.710811,18,40.415010,-3.706103
1,5c4b07ea2f38432e007daabd,5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,18,1,6,417,105,3,155,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,6.950000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.424846,-3.673863,18,40.444226,-3.678717
2,5c4b07ea2f38432e007daabe,ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,4,1,12,448,51,4,44,2019-01-01T00:00:00.000+0100,28005,2019-01-01 00:00:00+01:00,2019,1,1,0,7.466667,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.404785,-3.702827,24,40.413885,-3.704941
3,5c4b07ea2f38432e007daac2,b70eb1a71e53c6351b4835f618a459886e2045a44635e4...,17,1,11,468,100,5,171,2019-01-01T00:00:00.000+0100,28028,2019-01-01 00:00:00+01:00,2019,1,1,0,7.800000,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.422658,-3.687055,24,40.429887,-3.671282
4,5c4b07ea2f38432e007daac4,1ad9b018315170d824bb396889046eaeff8ce0a0be46b3...,13,1,2,149,67,4,65,2019-01-01T00:00:00.000+0100,28009,2019-01-01 00:00:00+01:00,2019,1,1,0,2.483333,0.5,24,6.0,0.69,22.0,4.4,67.0,957.0,101.0,0.0,2019-01-01,tuesday,holiday,national_holiday,Año Nuevo,1,24,40.417924,-3.670896,24,40.421398,-3.675204

In [47]:
# Export compiled datasets
full_dataset_df.to_csv('full_dataset_2019.csv', index=False, sep = ';')